* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Quicksand", sans-serif;
  color: #2c3e50;
  background: linear-gradient(90deg, #e6dace, 45%#fff 100%)
}
h1 {
  font-size: 24px;
}
.left_text h1{
  font-size: 50px;
}


.line {
  background-color: white;
  width: 20px;
  height: 5px;
  margin-top: 5px;
}
.navigation {
  font-family: "Pacifico", monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: white;
}
.leftnav {
  margin-left: 20px;
}

.navitems li {
  display: inline-block;
}
.mobilemenu {
  display: none;
}

.mobilemenu {
  background-color: wheat;
  margin-right: 20px;
}


.navitems {
  cursor: pointer;
  display: flex;
  margin-right: 20px;
}
.actual_menu {
  display: none;
}

.navchild {
  font-size: 24px;
  margin-right: 20px;
}

.navchild:hover {
  text-decoration: underline;
  color: blue;
}
.navitems:last-child {
  margin-right: 50px;
}

.pagecontent {
  display: flex;
  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: space-around;
}

.middle_box {
  margin-left: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 88%;
  height: 75%;

  font-size: 20px;
}
.bgcontainer {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.c2{
  position: absolute;
  width: 100%;
  height: 100vh;
}

.bgdiv1{
  position: relative;
  z-index : 0;
  width:45%;
  height: 100vh;
  background: #e6dace;
}

.left {
  box-shadow: -3px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  background: #f8ece4;
  justify-content: space-between;
}

.left p {
  text-align: center;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 30%;
  width: 100%;
}

#linkedinicon{
  font-size: 36px; 
  color:#0077b5;
  margin-left: 150px;
}
#githubicon{
  font-size: 36px;

  
}

#twittericon{
  font-size: 36px;
  color:#00acee;
  margin-right: 150px;
}
.left_icons {
  height: 10%;
  background: white;
  display: flex;

  justify-content: space-evenly;


}
.left_icons i {
  margin-top: 2.5%;
}

.right {
  width: 40%;
  height: 100%;
  background-color: white;
}

.right p,
h1,
button {
  margin-bottom: 30px;
}

#contactform{
  display:flex;
  
}

.getintouch{
  font-size: 60px;
}
#contactform input{
  margin-right: 5px;
  margin-bottom: 15px;
  height: 30px;
}






.yourtext{
  display:flex;
  text-align: top;
  width:100%;
  height: 200px;
  overflow:auto;

}


.top {
  height: 50%;
}
.bot {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 50%;
}
.bl {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  background: blue;
  border-radius: 50px;
  margin-right: 20px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: blue;
  text-align: center;
  transition: all 0.2s;
}
.br{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  background: white;
  border-radius: 50px;
  margin-right: 20px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  background-color: white;
  text-align: center;
  transition: all 0.2s;
  border: 1px solid black;
}

.imagecontainer {
  width: 100%;
  height: 50%;
  background: #f8ece4;
  display: flex;
  justify-content: center;
}
.myimg {
  align-self: center;
  border-radius: 50%;
  max-width: 80%;
  max-height: 100%;
}

.buttoncontainer {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 10%;
}


.right_paragraph {
  background-color: wheat;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29%;
  height: 45px;
  line-height: px;
  background: white;
  border: 1px solid black;
  border-radius: 40px;
  text-align: center;
}
footer {
  background-color: white;
  height: 10vh;
}

@media screen and (max-width: 950px) {
  .occupation {
    display: none;
  }
  

  .pagecontent {
    height: 180vh;
    flex-direction: column;
  }
  .middle_box {
   
    flex-direction: column;
    margin-left: 0%;
  }
  .left {
   
    width: 100%;
    height: 100%;
    background: #f8ece4;
    box-shadow: -10px 0px 10px;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    width: 100%;
    height: 100%;
    box-shadow: -10px 10px 10px;
  }
  .buttoncontainer {
    justify-content: center;
  }
  .right_paragraph p {
    text-align: center;
  }

  .contact_form{
    justify-content: center;
    align-items: center;
  }

  .formbuttoncontainer{
    display: flex;
    width:100%;
    justify-content: center;
  }
}



@media screen and (max-width: 500px) {
  .middle_box {
    
    margin-bottom: 30%;
    height: 100%;
    width: 75%;
    font-size: 20px;
    height: 80vh;
  }

  .pagecontent{
    height: 120vh;
  }
  .right h2 {
    text-align: center;
  }
  .contactme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .getintouch{
    font-size: 40px;
  }
  .contactme input{
    width: 70%;
  }
  .yourtext{
    width: 85%;
    height: 50%;
  }


  .mobilemenu,
  .leftnav {
    display: block;
  }
  .navitems {
    display: none;
  }
  #mobile_navbar {
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .actual_menu li {
    height: 30px;
    border-top: solid 1px white;
  }

  .actual_menu {
    display: none;
  }
  .active {
    display: block;
  }
  .inactive{
    display:none;
  }
  .navchild {
    margin: 0;
  }
}

@media screen and (max-height: 750px){
  .pagecontent{
    height: 140vh;
  }
  .middle_box {
    margin-top: 20%;
    
  }
 
}
